<section class="w-full h-full grid place-items-center">
  <div class="flex flex-col justify-center items-center">
    <h2 class="font-extrabold text-4xl text-green-500">404</h2>
    <p class="text-xl">La playlist solicitada no existe</p>
  </div>
</section>
