---
import { ViewTransitions } from "astro:transitions";

import AsideMenu from "@/components/AsideMenu.astro";
import { Player } from "@/components/Player";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Spotify clone build with Astro" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>

		<ViewTransitions fallback="none" />
	</head>
	<body class="relative h-screen px-2 py-4 gap-2">
		<aside class="[grid-area:aside] flex-col flex overflow-y-auto">
			<AsideMenu />
		</aside>

		<main
			class="[grid-area:main] rounded-lg bg-zinc-900 overflow-y-auto w-full"
		>
			<slot />
		</main>

		<footer class="[grid-area:player] h-[80px]">
			<Player client:load transition:name="media-player" transition:persist />
		</footer>

		<style>
			body {
				display: grid;
				grid-template-areas:
					"aside main main"
					"player player player";
				grid-template-rows: 1fr auto;
				grid-template-columns: 350px 1fr;
			}
		</style>

		<style is:global>
			html {
				color: white;
				background: #010101;
				font-family: "CircularStd", system-ui, sans-serif;
			}

			@font-face {
				font-family: "CircularStd";
				src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
				font-weight: 500;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "CircularStd";
				src: url("/fonts/CircularStd-Book.woff2") format("woff2");
				font-weight: 400;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "CircularStd";
				src: url("/fonts/CircularStd-Light.woff2") format("woff2");
				font-weight: 300;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "CircularStd";
				src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
				font-weight: 700;
				font-style: normal;
				font-display: swap;
			}

			@font-face {
				font-family: "CircularStd";
				src: url("/fonts/CircularStd-Black.woff2") format("woff2");
				font-weight: 900;
				font-style: normal;
				font-display: swap;
			}

			/*Range Reset*/
			input[type="range"] {
				-webkit-appearance: none;
				appearance: none;
				background: transparent;
				cursor: pointer;
			}

			/* Removes default focus */
			input[type="range"]:focus {
				outline: none;
			}

			/* slider track */
			input[type="range"]::-webkit-slider-runnable-track {
				background-color: #1f2937;
				border-radius: 0.5rem;
				height: 0.35rem;
			}

			/* slider thumb */
			input[type="range"]::-webkit-slider-thumb {
				-webkit-appearance: none; /* Override default look */
				appearance: none;
				margin-top: -3px; /* Centers thumb on the track */

				/*custom styles*/
				width: 0.75rem;
				height: 0.75rem;
				border-radius: 50%;
				background-color: white;
			}

			/* slider track */
			input[type="range"]::-moz-range-track {
				background-color: #1f2937;
				border-radius: 0.5rem;
				height: 0.35rem;
			}

			/* slider thumb */
			input[type="range"]::-moz-range-thumb {
				border: none; /*Removes extra border that FF applies*/
				border-radius: 0; /*Removes default border-radius that FF applies*/

				/*custom styles*/
				width: 0.75rem;
				height: 0.75rem;
				border-radius: 50%;
				background-color: white;
			}
		</style>
	</body>
</html>
